<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


div class="container">
  <h3>Add new employee : </h3>
  <form name="userForm">
    <div class="form-group row">
      <div class="col-xs-3">
        <label for="uname">Name</label>
        <input class="form-control" id="empid" name="empname" type="text" placeholder="Enter Name" [(ngModel)]="emp.name" #uname="ngModel"
          required/>
        <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
          <span class="error" *ngIf="uname.errors.required">
            Required!</span>
        </div>
      </div>
      <div class="col-xs-3">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" type="email" placeholder="Enter Email" [(ngModel)]="emp.email" #email="ngModel"
          email required/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <span class="error" *ngIf="email.errors.required">
            Required!</span>
          <span class="error" *ngIf="email.errors.email">
            Not valid email!</span>
        </div>
      </div>
      <div class="col-xs-3">
        <label for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" placeholder="Enter Password" [(ngModel)]="emp.password"
          #password="ngModel" required />
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <span class="error" *ngIf="password.errors.required">
            Required!</span>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary btn-sm" (click)="addEmployee(emp)">Add Employee</button>
    </div>
  </form>
</div>

<div>
  <h3>Employees : </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngIf="employees">
      <tr *ngFor="let emp of employees; let i = index">
        <td>
          {{emp.id}}
        </td>
        <td>
          {{emp.name}}
        </td>
        <td>
          {{emp.email}}
        </td>
        <td>
          {{emp.role}}
        </td>
        <td>
          {{emp.createdAt | date: 'medium'}}
        </td>
        <td>
          {{emp.updatedAt | date: 'medium'}}
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp.id)">
            <span>Delete</span>
          </button>
          <button class="btn btn-primary btn-sm" (click)="open(content, emp)">
            <span>Edit</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">